.form--search--artworks {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.form--search--artworks label {
    margin-right: var(--space--m);
}

[name="submit-search"] {
    margin-left: var(--space--s);
}