.form--search {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: var(--space--xl);
}

.form--search label {
    margin-right: var(--space--m);
}

@media only screen and (min-width: 769px) {
    .form--search button {
        margin-left: var(--space--s);
    }
}

@media only screen and (max-width: 768px) {
    .form--search {
        flex-direction: column;
    }

    .form--search label {
        margin-bottom: var(--space--m);
    }

    .form--search input,
    .form--search button {
        width: 100%;
    }
}