.figure {
    text-align: center;
    transition:all 0.2s ease;
}

.figure figcaption {
    max-width: 30rem;
    margin: auto;
}

/* .figure span:first-child, */
.figure img {
    position: unset !important;
}

.figure span:first-child {
    position: relative !important;
}

.figure img {
    transition: transform 0.2s ease;
    margin: var(--space--xs);
    z-index: 1;
    /* object-fit: contain; */
    height: 40rem !important;
    width: auto !important;
    /* min-width: unset !important;
    max-width: 50vw !important; */
}

.figure img[aria-hidden="true"] {
    display: none !important;
}

.figure img:hover {
    outline: 1rem solid white;
    -webkit-transform:scale(1.7);
    transform: scale(1.5);
    z-index: 2;
}

.figure span:first-child {
    overflow: unset !important;
}