.figure {
    text-align: center;
    transition: transform 0.2s ease;
}

.figure figcaption {
    max-width: 30rem;
    margin: auto;
}

.figure span:first-child {
    position: relative !important;
    /* height: auto !important!; */
    width: 40rem;
    height: 40rem;
    /* max-width: 50vw !important;  */
    overflow: unset !important;
}

.figure img {
    transition: transform 0.2s ease;
    margin: var(--space--xs);
    z-index: 1;
    object-fit: contain;
}

.figure:hover img {
    -webkit-transform:scale(1.5);
    transform: scale(1.5);
    z-index: 3;
}

.figure img[aria-hidden="true"] {
    display: none !important;
}