.figure,
.figure img {
    transition: transform 0.2s ease;
}   

.figure {
    text-align: center;
    max-width: 64rem;
}

.figure:hover {
    z-index: 2;
}

.figure figcaption {
    /* max-width: min(40rem, 100%); */
    width: clamp(36rem, 95%, 40rem);
    margin-right: auto;
    margin-left: auto;
    margin-top: var(--space--s);
}

.figure span:first-child {
    height: 64rem !important;
    position: relative !important;
    overflow: unset !important;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .figure span:first-child {
        width: calc(100vw - 0.1rem) !important;
    }
}

@media only screen and (min-width: 769px) {
    
    .figure span:first-child {
        width: 40rem !important;
    }

    .figure span:first-child img:hover {
        -webkit-transform:scale(1.5);
        transform: scale(1.5);
    }
}

.figure img {
    margin: var(--space--xs);
    object-fit: contain;
}

.figure img[aria-hidden="true"] {
    display: none !important;
}