.figure,
.figure img {
    transition: transform 0.2s ease;
}   

.figure {
    text-align: center;
}

.figure figcaption {
    max-width: min(40rem, 90vw);
    margin-right: auto;
    margin-left: auto;
    margin-top: var(--space--s);
}

.figure span:first-child {
    position: relative !important;
    overflow: unset !important;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .figure span:first-child {
        height: 56rem !important;
        width: calc(100vw - 1rem) !important;
    }
}

@media only screen and (min-width: 769px) {
    .figure span:first-child {
        height: 64rem !important;
        width: 100% !important;
    }
}

.figure img {
    margin: var(--space--xs);
    z-index: 1;
    object-fit: contain;
    /* -webkit-transform:scale(0.7);
    transform: scale(0.7); */
}

.figure:hover img {
    /* -webkit-transform:scale(1.2);
    transform: scale(1.2); */
    z-index: 2;
}

.figure img[aria-hidden="true"] {
    display: none !important;
}