.figure {
    text-align: center;
    transition: transform 0.2s ease;
}

.figure figcaption {
    max-width: min(50rem, 90vw);
    margin: auto;
}

.figure span:first-child {
    position: relative !important;
    /* height: auto !important!; */
    height: 50rem !important;
    width: 50rem !important;
    /* max-width: 50vw !important;  */
    overflow: unset !important;
    /* transform: scale(0.7); */
}

.figure img {
    transition: transform 0.2s ease;
    margin: var(--space--xs);
    z-index: 1;
    object-fit: contain;
    transform: scale(0.7);
}

.figure:hover img {
    -webkit-transform:scale(1);
    transform: scale(1);
    z-index: 3;
}

.figure img[aria-hidden="true"] {
    display: none !important;
}