.label {
    display: block;
}

.form-control {
    font-family: var(--font-family--base);
    font-size: var(--font-size--base);
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.input {
    font-size: max(var(--font-size--base), 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: var(--color--white);
    border-radius: 0.4rem;
    border: var(--input__border);
    margin-bottom: 1em;
}

.input:not(textarea) {
    line-height: 1;
    height: var( --input__height);
}

.input[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: var(--color--disabled);
}

.input[disabled] {
    --input-border: var(--color--disabled);
    background-color: #eee;
    cursor: not-allowed;
}

.input:focus {
    --input__border__width: 0.3rem; 
}

.form-control + .form-control {
    margin-top: 1em;
}

