.details {
    width: 100%;
}

.images__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.summary {
    padding: var(--space--m) 0;
}

.summary::marker {
    font-size: var(--font-size--h2);
}

.summary h2 {
    display: inline;
} 